/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6450E9;
  --ifm-color-primary-dark: #5745D3;
  --ifm-color-primary-darker: #4A3BB8;
  --ifm-color-primary-darkest: #3F309D;
  --ifm-color-primary-light: #725EEC;
  --ifm-color-primary-lighter: #8170EF;
  --ifm-color-primary-lightest: #9082F2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9C8AF0;
  --ifm-color-primary-dark: #8C7DE1;
  --ifm-color-primary-darker: #7D6DC2;
  --ifm-color-primary-darkest: #6E5DA3;
  --ifm-color-primary-light: #A79BF3;
  --ifm-color-primary-lighter: #B2A6F5;
  --ifm-color-primary-lightest: #BDB1F8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
